---
name: Dispatch Collection Build
on:
  workflow_dispatch:
    inputs:
      collection:
        description: COLLECTION NAME
        type: string
        default: container
      branch-name:
        type: string
        description: BRANCH NAME
        default: main
      dagger-module-version:
        description: DAGGER MODULE VERSION
        type: string
        default: v0.13.0
      dagger-version:
        description: DAGGER MODULE VERSION
        type: string
        default: v0.18.10

jobs:
  collection-build:
    name: Collection Build
    runs-on: dagger
    steps:
      - name: Checkout Project
        uses: actions/checkout@v6.0.2
        with:
          fetch-depth: '0'
          ref: ${{ inputs.branch-name }}

      - name: Build Collection
        uses: dagger/dagger-for-github@v8.2.0
        with:
          version: ${{ inputs.dagger-version }}
          verb: call
          args: run-collection-build-pipeline --src collections/${{ inputs.collection }} --progress plain export --path=/tmp/build
          module: github.com/stuttgart-things/dagger/ansible@${{ inputs.dagger-module-version }}

      - name: List collection build
        run: |
          ls -lta /tmp/build
